<div class="center jumbotron">
</br></br></br></br></br></br></br>
<h1>Welcome to AUCTIONITY</h1>
<h2>
An App for You to Pick. Bid. and Deal. with One of A Kind
Items Online!
</h2></br>
<%= link_to "Get Started!", 'sign_up', class: "btn btn-lg btn-primary" %>
</div>
